@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  scroll-behavior: smooth;
}

.moto {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
}

.link {
  background-image: linear-gradient(
    to right,
    #c85de8,
    #c85de8 50%,
    #a900aa 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.link:before {
  content: "";
  background: #a900aa;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-position: 0;
}

.link:hover::before {
  width: 100%;
}
